<h1>Tacos!!!</h1>

<p>I love tacos</p1>

<% filling = ["Carnitas", "AI Pastor", "Pescado", "Mushroom"] %>

<p> We have <% fillings.count %> </p>

<ul>
  <% for filling in fillings %>
  <li> <%= filling %> </li> 
  <% end %>
</ul>